<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjp.db.mapper.CompanyUserMapper">

    <select id="count" resultType="java.lang.Long">
        SELECT count(*) FROM company
        <where>
            <if test="active != null">active = #{active},</if>
            <if test="createTime != null">create_time &lt;= #{createTime}</if>
        </where>
    </select>

    <select id="list" resultType="com.cjp.db.pojo.entity.User" parameterType="com.cjp.db.pojo.entity.User">
        SELECT * FROM company
        <where>
            <if test="active != null">active = #{active},</if>
            <if test="createTime != null">create_time &lt;= #{createTime}</if>
        </where>
    </select>

    <update id="update">
        update company
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="active != null">active = #{active},</if>
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="websiteUrl != null">website_url = #{websiteUrl},</if>
            <if test="address != null">address = #{address},</if>
            <if test="password != null">password = #{password},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>
</mapper>